<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8" name="viewport"
        content= "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/footer.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar p-4 navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SHORT BLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">HOME</a>
          <a class="nav-item nav-link" href="/about">ABOUT US</a>
          <a class="nav-item nav-link" href="/search">SEARCH BLOG</a>
          <a class="nav-item nav-link" href="/compose">COMPOSE</a>
          <a class="nav-item nav-link" href="/admin">ADMIN LOGIN</a>
        </div>
      </div>
    </nav>
    <div class="container search-box">
      <%searchdata.forEach(function(item){%>
        <p><%=item.posttitle%></p>
        <p><%=item.postby%></p>
        <p><%=item.postdate%></p>
      <%});%>
      </div>
      <div class="row" ">
        <div class="col-sm-12 mywidth">
          <div class="container">
              <% postlist.forEach(function(item){%>

                <div class="card mb-3" style="width: 100%;">
          <div class="card-body">
            <a href="/posts/<%=item.posttitle%>"><h2 class="card-title"><%=item.posttitle%></h2></a>
            <h6>Author: <%=item.postby%></h6>
            <h6><%=item.postdate%></h6>
            <p class="card-text"><%=item.postbody.substr(0,100)+" ..."%><a href="/posts/<%=item.posttitle%>"> Read More</a></p>
              </div>
          </div>
             <%})%>
        </div>
        </div>
      </div>

      <footer class="section footer-classic context-dark bg-dark">
        <div class="container foot">
          <h6>Created with ❤️ by Siddharaj Mane</h6>
          <p>&#169 Siddharaj Mane</p>
        </div>
      </footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
